
<div class="player">
    <div class="audio_name">
        {{playingAudio}}
    </div>
    <div class="slider">
        <span class="time">
           {{currentMinutes}}
        </span>
        <input type="range" value="{{currentMove}}" (change)="canculateTick($event)" class="input-slider"/>
        <span class="time total">
            {{totalMinutes}}
         </span>
    </div>
    <div class="controls">
       <div>
        <button (click)="prev()" type="button" mat-raised-button color="primary" class="pl_button prev">
            <img src={{icons.prevIcon}} alt="prev"class="audio_icon"/>
        </button>
        <button type="button" mat-raised-button  color="primary" class="pl_button play" (click)="control()">
            <img *ngIf="isPaused; else elseIcon" src="{{icons.playIcon}}" alt="play" class="audio_icon"/>
             <ng-template #elseIcon>
                <img src="{{icons.pauseIcon}}" alt="play" class="audio_icon"/>
             </ng-template>
        </button>
        <button (click)="next()" type="button" mat-raised-button  color="primary" class="pl_button next">
            <img src={{icons.nextIcon}} alt="next"class="audio_icon"/>
        </button>
       </div>
    </div>
    <div class="controlss">
        <div class="volume_control">
            <button type="button" (click)="mute()" class="pl_button">
                <img *ngIf="!isMuted; else elseVolumeIcon" src={{icons.volumeIcon}} alt="prev"class="audio_icon"/>
                <ng-template #elseVolumeIcon>
                    <img src={{icons.volumeMutedIcon}} alt="volume"class="audio_icon"/>
                </ng-template>
            </button>
            <input type="range" value="{{volumeNow}}" class="volume_slider" (change)="volume($event)"/>
            <span class="volume_proc">{{volumeProc}}%</span>
        </div>
        <div class="audio_list">
            <button type="button" style="color: white;"  class="pl_button" (click)="repeat()">
                <img src={{icons.repeatIcon}} alt="repeat" class="audio_icon"/>
                <span *ngIf="isRepeat; else elseRepeatIcon">
                    On
                </span>
               <ng-template #elseRepeatIcon>
                <span >
                    Off
                </span>
               </ng-template>
            </button>
        </div>
    </div>
</div>